<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G6030</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>SOUL</string>
	<key>CFBundleExecutable</key>
	<string>Soul_New</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>SoulHook/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.mihuashi.test</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>SOUL</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.8.30</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxcc5f58957efdffe9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41df0edc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb169879736</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1105826100</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>soul</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20190511191104</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10B61</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>readerfor17kfree</string>
		<string>qq06028cb0</string>
		<string>qihooloan</string>
		<string>en51cc</string>
		<string>acfun</string>
		<string>agoda</string>
		<string>narviiapp</string>
		<string>blued</string>
		<string>bosszp</string>
		<string>dwgfastview</string>
		<string>wx5677b760dcf41367</string>
		<string>chinadailynewsiphone</string>
		<string>googlechrome</string>
		<string>wx1e7c471af7c85aec</string>
		<string>videoleap</string>
		<string>express</string>
		<string>faceu</string>
		<string>com.sportq.fitfit</string>
		<string>foodcamcn</string>
		<string>gofun</string>
		<string>googlemaps</string>
		<string>grabtaxi</string>
		<string>hello</string>
		<string>clover-idaily-portable</string>
		<string>fb124024574287414</string>
		<string>keep</string>
		<string>kindle</string>
		<string>kkkeyboard</string>
		<string>linecamera</string>
		<string>alipayluckycoffee</string>
		<string>Metropoles.com</string>
		<string>nice</string>
		<string>NOMOCamera</string>
		<string>picsart</string>
		<string>Pins</string>
		<string>com.excelheritagegroup.pinnable</string>
		<string>pptv</string>
		<string>ppsportstodaywidget</string>
		<string>puapp</string>
		<string>mqq</string>
		<string>qmtoken</string>
		<string>mqzone</string>
		<string>mttbrowser</string>
		<string>qqpim</string>
		<string>qqmusicsdk</string>
		<string>qqmail</string>
		<string>qqreader</string>
		<string>googlesnapseed</string>
		<string>itms-beta</string>
		<string>ucbrowser</string>
		<string>ujing</string>
		<string>vuevideo</string>
		<string>wecut</string>
		<string>tencent1106881577</string>
		<string>yymobile</string>
		<string>wireless1688</string>
		<string>iqiyi</string>
		<string>iqiyi-reader</string>
		<string>iting</string>
		<string>qq41ee4e2f</string>
		<string>openanjuke</string>
		<string>antutubenchmark</string>
		<string>antutubenchmark</string>
		<string>bcz</string>
		<string>BaiduSSO</string>
		<string>bdmap</string>
		<string>baidutranslate</string>
		<string>bainuo</string>
		<string>baiduyun</string>
		<string>bdwenku</string>
		<string>bdbook</string>
		<string>pagodabuy</string>
		<string>boohee</string>
		<string>qq2433amm8</string>
		<string>beidianapp</string>
		<string>lianjiabeike</string>
		<string>bixin</string>
		<string>tencent1106775508</string>
		<string>qq06075099</string>
		<string>tencent100314966</string>
		<string>lepaotiyu</string>
		<string>caijingiphone</string>
		<string>cainiao</string>
		<string>geeboo</string>
		<string>caocaoapp</string>
		<string>changba</string>
		<string>tide</string>
		<string>selfiecity</string>
		<string>wb695064297</string>
		<string>chelaile</string>
		<string>czhapp</string>
		<string>wxa5085fd8092aaf7d</string>
		<string>chushoutv</string>
		<string>springairlines</string>
		<string>dadashop</string>
		<string>dianping</string>
		<string>dangdang</string>
		<string>clover-idays</string>
		<string>dmkj</string>
		<string>didapinche</string>
		<string>didiudriver</string>
		<string>diditaxi</string>
		<string>tc.cm</string>
		<string>ctclient</string>
		<string>shopzp</string>
		<string>dingtalk</string>
		<string>ceair</string>
		<string>wx6d89bc56971ef8e4</string>
		<string>dongman</string>
		<string>snssdk36</string>
		<string>citicbankdkkj</string>
		<string>awemealipay</string>
		<string>doumi</string>
		<string>douyutv</string>
		<string>douban</string>
		<string>growing.17b5f0baf019bd3a</string>
		<string>doupai</string>
		<string>duapp</string>
		<string>dmall</string>
		<string>duokan-reader</string>
		<string>eleme</string>
		<string>tencent1105138591</string>
		<string>alisdkdemo</string>
		<string>soufun</string>
		<string>veryzhunfree</string>
		<string>alitrip</string>
		<string>fenqile</string>
		<string>apegwy</string>
		<string>phenixklfzhfkckedfpq</string>
		<string>wbganji</string>
		<string>wb4220456709</string>
		<string>wx9b913299215a38f2</string>
		<string>wxe6678dabd0e6005d</string>
		<string>ttxs</string>
		<string>its</string>
		<string>guazi</string>
		<string>gzmetro</string>
		<string>easybike</string>
		<string>haierwash</string>
		<string>hanju</string>
		<string>planner</string>
		<string>hangxin</string>
		<string>hnmcc</string>
		<string>tencent1105391547</string>
		<string>tencent1105906633</string>
		<string>growing.c79ba13e51ba394a</string>
		<string>yykiwi</string>
		<string>cichang</string>
		<string>huazhuapp</string>
		<string>wb3630181722</string>
		<string>ihuaben</string>
		<string>butter</string>
		<string>hotsoonalipay</string>
		<string>hyhuo</string>
		<string>hlluapp</string>
		<string>alipay-driver</string>
		<string>jimuapp</string>
		<string>jike</string>
		<string>jxedt</string>
		<string>wxe7edcc49d5bd01a1</string>
		<string>ijj1234522777</string>
		<string>jane</string>
		<string>snssdk141</string>
		<string>cangowin</string>
		<string>jjwxcapp</string>
		<string>jdpay</string>
		<string>openapp.jddj</string>
		<string>jdmobile</string>
		<string>jdbible</string>
		<string>kaola</string>
		<string>kaoyan</string>
		<string>mkeke</string>
		<string>wx793c32cfe8309108</string>
		<string>wxf4b2d2d936e13926</string>
		<string>koubei</string>
		<string>kugouURL</string>
		<string>wx0c3254305fc16258</string>
		<string>com.meetstudio.coolkeyboard</string>
		<string>coomixapp</string>
		<string>aqhapkuwo1</string>
		<string>quark</string>
		<string>kuaidi100</string>
		<string>zssq</string>
		<string>kwzy</string>
		<string>kuaikan</string>
		<string>wx6ebfe63a7ce43fa3</string>
		<string>com.jiangjia.gif</string>
		<string>zapya</string>
		<string>kwaiying</string>
		<string>laifenqi</string>
		<string>lazyaudio</string>
		<string>lebo</string>
		<string>lequmusic</string>
		<string>videoshow</string>
		<string>lizhifmqq0817</string>
		<string>ynlx</string>
		<string>zidanduanxin</string>
		<string>lptd</string>
		<string>lvmama</string>
		<string>mcdmobileapp</string>
		<string>taoumaimai</string>
		<string>sina.56091c1567e58eb69300058f</string>
		<string>maobing</string>
		<string>missevan</string>
		<string>meituanmovie</string>
		<string>eudic-ting</string>
		<string>qq41d933aa</string>
		<string>mpoauth</string>
		<string>meipian</string>
		<string>beautycamerasns</string>
		<string>imeituan</string>
		<string>meituanwaimai</string>
		<string>mweeclient</string>
		<string>myxj</string>
		<string>meetyou.linggan</string>
		<string>mzxj</string>
		<string>wx6bdf9f627527cd1a</string>
		<string>migu</string>
		<string>mgmusic</string>
		<string>mihome</string>
		<string>miyabaobei</string>
		<string>miaopai</string>
		<string>com.netease.mpay.rkga1gfecirghixi</string>
		<string>mogujie</string>
		<string>momentcam</string>
		<string>momochat</string>
		<string>rm434209233MojiWeather</string>
		<string>maimemo</string>
		<string>wx7002f91829672bb5</string>
		<string>csmbp</string>
		<string>com.infzm.infzm</string>
		<string>papa.web.start</string>
		<string>org.pigai.allround</string>
		<string>bds</string>
		<string>shrimp</string>
		<string>piaoniu</string>
		<string>pddopen</string>
		<string>instamag</string>
		<string>pgpuzzle</string>
		<string>pajkdoctor</string>
		<string>palifeapp</string>
		<string>qichacha</string>
		<string>wxwork</string>
		<string>qiancheng</string>
		<string>guideiphone</string>
		<string>qauth</string>
		<string>qutui360</string>
		<string>bdminivideo</string>
		<string>rmrbapp</string>
		<string>rrc</string>
		<string>rrmj.da844mjy</string>
		<string>mypantone</string>
		<string>yanglei.tally</string>
		<string>com.xiamenair.egretfly.today</string>
		<string>sdmcc</string>
		<string>shansong</string>
		<string>com.shanbay.listen</string>
		<string>shanbaynews</string>
		<string>smzdm</string>
		<string>wxdb9a36db2e4f10e3</string>
		<string>szucar</string>
		<string>union.szzc</string>
		<string>ewt</string>
		<string>hymn</string>
		<string>wx0b41f790886f724e</string>
		<string>shihuo</string>
		<string>taobao</string>
		<string>tencent1101163373</string>
		<string>gbpassenger</string>
		<string>shuidiaixinchou</string>
		<string>watermarkcamera</string>
		<string>sichuanapp</string>
		<string>sgmap</string>
		<string>com.sogou.input</string>
		<string>sogousearch</string>
		<string>sogoureader</string>
		<string>sohuvideo-iphone</string>
		<string>suning</string>
		<string>tantumap</string>
		<string>taojiji</string>
		<string>tbmovie</string>
		<string>tenvideo</string>
		<string>tnow</string>
		<string>sosomap001</string>
		<string>txcomic</string>
		<string>mqqsecure</string>
		<string>qqsports</string>
		<string>weiyun</string>
		<string>photogallery</string>
		<string>TmallSpirit</string>
		<string>ttpuextension</string>
		<string>qnreading</string>
		<string>up366mobile</string>
		<string>tiaooo</string>
		<string>com.baidu.tieba</string>
		<string>cn.12306</string>
		<string>tctravelapp</string>
		<string>amihexin</string>
		<string>tuchong</string>
		<string>wxaef5453d7ce68469</string>
		<string>tuhu</string>
		<string>tuniuiphone</string>
		<string>wanba</string>
		<string>netcafe</string>
		<string>neteasegl</string>
		<string>hongcaiapp</string>
		<string>necomics</string>
		<string>mailmaster</string>
		<string>yddictinfoline</string>
		<string>cloudmusicopenapi</string>
		<string>welove.sljdflasjfaosiudfoa9p</string>
		<string>sinaweibo</string>
		<string>wbdm-app</string>
		<string>kdapp</string>
		<string>wssyxj</string>
		<string>weishi</string>
		<string>weixin</string>
		<string>weread</string>
		<string>ahweizhang</string>
		<string>VSSpecialSwitch</string>
		<string>mvoicerwsm</string>
		<string>wuta</string>
		<string>jegotripapp</string>
		<string>wb3206633675</string>
		<string>snssdk32</string>
		<string>wemart</string>
		<string>xcfapp</string>
		<string>fleamarket</string>
		<string>mico</string>
		<string>xiaoenai</string>
		<string>heybox</string>
		<string>xhsdiscover</string>
		<string>miwifi</string>
		<string>mishop</string>
		<string>mifit</string>
		<string>maibaelf</string>
		<string>xiaoying</string>
		<string>solar</string>
		<string>ctrip</string>
		<string>tgclub</string>
		<string>sinanews</string>
		<string>xingseapptoday</string>
		<string>youxuan</string>
		<string>wenba</string>
		<string>wb1395507664</string>
		<string>dtxuexi</string>
		<string>makefriends</string>
		<string>iFlytekime</string>
		<string>com.amazon.mobile.shopping</string>
		<string>ycmath</string>
		<string>wx884787ea9b2e9cf0</string>
		<string>oxygenpush</string>
		<string>ehi</string>
		<string>etao</string>
		<string>xktv</string>
		<string>oneweekcp</string>
		<string>zjwh</string>
		<string>elong</string>
		<string>engzo</string>
		<string>ljb921855004</string>
		<string>videogoprotocol</string>
		<string>qhvideo</string>
		<string>inke</string>
		<string>wx38142471e24e0f96</string>
		<string>youku</string>
		<string>psbcmbank</string>
		<string>applewebdata</string>
		<string>ydfanyiguanyz</string>
		<string>youdaonote</string>
		<string>yupaopao</string>
		<string>wxf89059be7f3d5e23</string>
		<string>ape</string>
		<string>com.sport.yuedong</string>
		<string>thejoyrun</string>
		<string>chsp</string>
		<string>tencent-daojucheng</string>
		<string>mybus</string>
		<string>wx4ba1419446068790</string>
		<string>ireader</string>
		<string>mucfcapp</string>
		<string>zjmobile</string>
		<string>alipay</string>
		<string>growing.d11dda17e59d365b</string>
		<string>com.zhihuishu.apppay.wisdomtreezs</string>
		<string>suanya</string>
		<string>zhilianzhaopin</string>
		<string>emiphone</string>
		<string>com.icbc.wapbpin</string>
		<string>airchina</string>
		<string>ccbmobilebank</string>
		<string>cn.10086.app</string>
		<string>zhuanzhuanMStart</string>
		<string>zssq</string>
		<string>idcamera</string>
		<string>selfie</string>
		<string>askhomework</string>
		<string>maths</string>
		<string>tfastcalculation</string>
		<string>wx7e20c0df1360232f</string>
		<string>wb2005983009</string>
		<string>comevideodiange</string>
		<string>wb1424286189</string>
		<string>wx2ed190385c3bafeb</string>
		<string>tencent1105181323</string>
		<string>baofenglogin</string>
		<string>wx31562d0a467cb40d</string>
		<string>wxbbc6e0adf8944632</string>
		<string>wx13f22259f9bbd047</string>
		<string>bilibili</string>
		<string>wb1897524397</string>
		<string>wb441652243</string>
		<string>com.kingsoft.www.office.wpsoffice</string>
		<string>jdpauthJDJR110735779001</string>
		<string>wxa54deb331c142f46</string>
		<string>sinaweibosso.1308855883</string>
		<string>datatist.6666666666666666</string>
		<string>neteaseVopen</string>
		<string>b612cn</string>
		<string>en-shiguol-6412</string>
		<string>alitmalllink</string>
		<string>tmri12123</string>
		<string>wx822295c9333f22d8</string>
		<string>QQ14AC1032</string>
		<string>wx61c4f23dfc398cfd</string>
		<string>wx6f94a104bd8a9cd4</string>
		<string>ZdZO1JOnjBxzLOEM6Ku0DPb3H</string>
		<string>wxd0569b399eb75121</string>
		<string>rm483304com.quvideo.SlidePlus</string>
		<string>SogouMSE</string>
		<string>googlesnapseed</string>
		<string>wwzJianJiVideo</string>
		<string>maichebaodian</string>
		<string>tujia</string>
		<string>ECardCharge</string>
		<string>wxb95dc20dcf9fbd0a</string>
		<string>Secoo</string>
		<string>wx5759c4a6cc338d78</string>
		<string>wb3299513026</string>
		<string>wx2000041439955d73</string>
		<string>FDMoneyHDStd</string>
		<string>wb3542901124</string>
		<string>narviiapp</string>
		<string>wx2bc9e27789ce6d10</string>
		<string>tencent1105618653</string>
		<string>wx3922fa8244869089</string>
		<string>com.mm.ilady</string>
		<string>yohobuy</string>
		<string>systemexpert360</string>
		<string>kr36</string>
		<string>com.airbnb.app.payouts.paypal</string>
		<string>bbcnewsapp</string>
		<string>blued</string>
		<string>bookingapp</string>
		<string>cc</string>
		<string>djivideonew</string>
		<string>dnfzzb</string>
		<string>dnfgamehelper</string>
		<string>echoapp</string>
		<string>etsstudent</string>
		<string>facebook-stories</string>
		<string>forest</string>
		<string>googletranslate</string>
		<string>ispeak</string>
		<string>joinme</string>
		<string>lesdoweb</string>
		<string>lofter</string>
		<string>lolzzb</string>
		<string>pendo</string>
		<string>tencent1104922185</string>
		<string>ha</string>
		<string>deepspot</string>
		<string>sbuxcn</string>
		<string>tiki</string>
		<string>tim</string>
		<string>timing1139698614</string>
		<string>tt</string>
		<string>twitter</string>
		<string>uki</string>
		<string>mango</string>
		<string>vsco</string>
		<string>wifikey</string>
		<string>yweather</string>
		<string>vnd.youtube</string>
		<string>afanti</string>
		<string>idolapp</string>
		<string>ayh</string>
		<string>gpsov</string>
		<string>zhidao</string>
		<string>palfish-read</string>
		<string>pregnancy.auth</string>
		<string>tencent1104505648</string>
		<string>baobao</string>
		<string>jellyblast</string>
		<string>ams</string>
		<string>lepaotiyu</string>
		<string>tencent1105771533</string>
		<string>tencent1105383847</string>
		<string>ffgimt</string>
		<string>caiyunappfree</string>
		<string>growing.681622ab40475ac2</string>
		<string>tide</string>
		<string>selfiecity</string>
		<string>chelunkjz</string>
		<string>touchpal</string>
		<string>gugutouchmanga</string>
		<string>tencent1104512706</string>
		<string>chunyuext</string>
		<string>damai</string>
		<string>fnfresh</string>
		<string>dayima</string>
		<string>ddreader</string>
		<string>dxhalipay</string>
		<string>didi</string>
		<string>fb1722710731362747</string>
		<string>com.netease.id5</string>
		<string>diyidanapp</string>
		<string>dxy-aspirinpro</string>
		<string>dingdangshop</string>
		<string>ddxq</string>
		<string>eastmoney</string>
		<string>dongqiudishare</string>
		<string>dongdong17-appsflyer</string>
		<string>coolwallpaper</string>
		<string>doubanmovie</string>
		<string>duiaapp</string>
		<string>maya1349</string>
		<string>wxcedfa3112913fbb0</string>
		<string>bdwm</string>
		<string>ergedd</string>
		<string>iosbabysong</string>
		<string>zhangliangji</string>
		<string>apezj</string>
		<string>com.fkysr.xlm</string>
		<string>ifengvideoplayer</string>
		<string>chunliao</string>
		<string>gengmei</string>
		<string>com.icbc.im</string>
		<string>huanbei</string>
		<string>boombeach</string>
		<string>wxpage</string>
		<string>c6922a315beacc349c87e5cb9d2616ee</string>
		<string>henpiapp</string>
		<string>hpfliteracy</string>
		<string>huputiyu</string>
		<string>hujiangclass3-appextention</string>
		<string>hjdict</string>
		<string>huajiao</string>
		<string>alisdkhsdt</string>
		<string>wscn</string>
		<string>huabarapp</string>
		<string>huashijie</string>
		<string>qqproduct052.10000</string>
		<string>com.netease.mpay.akbpdxr83qe3azsn</string>
		<string>growing.b079f0411a78f59a</string>
		<string>jlgl</string>
		<string>firetom</string>
		<string>jianzhimao</string>
		<string>jianshu</string>
		<string>bocom</string>
		<string>jiaowowansuiye</string>
		<string>tencentrm</string>
		<string>fb1560288864204920</string>
		<string>com.netease.mpay.66alsq5vaelemoc4</string>
		<string>qq41f358fe</string>
		<string>pubggamehelper</string>
		<string>pggamehelper</string>
		<string>tencent100718846</string>
		<string>ksstory</string>
		<string>kanzhun</string>
		<string>kouyu100</string>
		<string>KGRing</string>
		<string>shortcuts</string>
		<string></string>
		<string>lagou</string>
		<string>laoyuegouapp</string>
		<string>ljshell</string>
		<string>letviphone</string>
		<string>wb3751276339</string>
		<string>pearvideo.com</string>
		<string>diditechlovenote</string>
		<string>voyager</string>
		<string>luoo</string>
		<string>znn</string>
		<string>travelguide</string>
		<string>com.hpyshark.rent4</string>
		<string>mdd</string>
		<string>mdb</string>
		<string>comicIsland</string>
		<string>mkzhan</string>
		<string>imgovhd</string>
		<string>DailyYoga</string>
		<string>meituanqcsc</string>
		<string>homescapes</string>
		<string>xiuxiualipay</string>
		<string>cn.douyuu.miqu</string>
		<string>miaomiaoji</string>
		<string>sencent</string>
		<string>myfirstapp</string>
		<string>nzgamehelper</string>
		<string>bankabc</string>
		<string>italk.treatdetail</string>
		<string>peiwo</string>
		<string></string>
		<string>pddmt</string>
		<string>paesuperbank</string>
		<string>spdbbank</string>
		<string>joyappertest</string>
		<string>joyapperlearning</string>
		<string>wb2740986616</string>
		<string>qielive</string>
		<string>qxb</string>
		<string>autohome</string>
		<string>qlchat</string>
		<string>baidumusic</string>
		<string>qtfmradio</string>
		<string>tencent1104746282</string>
		<string>qtt</string>
		<string>rela</string>
		<string>renren</string>
		<string>yyets</string>
		<string>kiddubbing</string>
		<string>com.netease.mpay.v4cj9npd9e0173z1</string>
		<string>jiayuan</string>
		<string>tencent1104833488</string>
		<string>isp5732ed52</string>
		<string>fruitninja</string>
		<string>infonews</string>
		<string>suningefubao</string>
		<string>wp.snake</string>
		<string>tantanapp</string>
		<string>tencent1104432962</string>
		<string>tencent1101070761</string>
		<string>tencentedu</string>
		<string>qqnews</string>
		<string>tianya</string>
		<string>com.baoyun.touxiang</string>
		<string>pix</string>
		<string>whenchat</string>
		<string>wandafilm</string>
		<string>wx95a3a4d7c627e07d</string>
		<string>wbdm-app</string>
		<string>weibointernational</string>
		<string>creditloan</string>
		<string>wdbible</string>
		<string>com.weiguang</string>
		<string>wltt</string>
		<string>wssport</string>
		<string>pocketapp1234</string>
		<string>iosdevtip</string>
		<string>wiwjapp</string>
		<string>fb389158325153900</string>
		<string>snssdk1165</string>
		<string>wx36788a7b5c2fe0a5</string>
		<string>hwy30</string>
		<string>alipayxiamilogin</string>
		<string>xianliao</string>
		<string>alisdkdemoxc</string>
		<string>xbl</string>
		<string>blackfish</string>
		<string>miloanx</string>
		<string>xmbsapp</string>
		<string>qqlivekid</string>
		<string>cosleep</string>
		<string>xtccallwatch</string>
		<string>leo</string>
		<string>swgxhzdaction</string>
		<string>sinafinancepay</string>
		<string>app.soyoung</string>
		<string>cibmb</string>
		<string>wenba</string>
		<string>xeswangxiao</string>
		<string>yanxuan</string>
		<string>cntvnews</string>
		<string>cntvcbox</string>
		<string>ycmath</string>
		<string>oxygenpush</string>
		<string>yiguan</string>
		<string>tencent1105641716</string>
		<string>a17zuoye</string>
		<string>qq41dfd765</string>
		<string>esbook</string>
		<string>yitongxing</string>
		<string>yibanapp</string>
		<string>ekwingstudent</string>
		<string>onmyojibattle</string>
		<string>tencent100330593</string>
		<string>evernote</string>
		<string>tencent100738178</string>
		<string>englishtalk</string>
		<string>sijijunApp</string>
		<string>iovoodoo116</string>
		<string>umooceduapp8</string>
		<string>yxused</string>
		<string>duxiaomanloan</string>
		<string>u17app</string>
		<string>alipay2015080700204219</string>
		<string>yuwan</string>
		<string>yuemeischemes</string>
		<string>qq1101493257</string>
		<string>wegame</string>
		<string>cfapp</string>
		<string>speedgamehelper</string>
		<string>cmblife</string>
		<string>mlolapp</string>
		<string>bangjob</string>
		<string>cmbmobilebank</string>
		<string>tencent1102004008</string>
		<string>zhixue</string>
		<string>chinaunicom</string>
		<string>bocmobile</string>
		<string>citic</string>
		<string>growing.f5ba733a957aa875 </string>
		<string>appminsu</string>
		<string>idcamera</string>
		<string>selfie</string>
		<string>zuiyou</string>
		<string>tencent1105547469</string>
		<string>qq41e41af7</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>alipay</string>
		<string>alipayshare</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.soulapp.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>pre-app.soulapp-inc.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>pre-w3.soulapp-inc.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>roi.soulapp.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sina.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sina.com.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sinaimg.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>sinajs.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>w3.soulapp.cn</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>weibo.cn</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>weibo.com</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要您的同意,才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>开启相机权限后，您才能使用Soul的相机功能进行拍照和录制视频</string>
	<key>NSContactsUsageDescription</key>
	<string>需要通讯录权限才可以屏蔽哦~</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>开启地理位置权限后，您才能在发布瞬间时定位瞬间的具体位置，以及使用恋爱铃的地理位置功能哦</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>开启麦克风权限后，您才能录制添加到瞬间的音频，或给其他用户发送语音消息</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>开启相册权限后，您才能上传照片和视频到瞬间中进行发布</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>开启相册权限后，您才能上传照片和视频到瞬间中进行发布</string>
	<key>NSSiriUsageDescription</key>
	<string>App需要您的同意,才能访问Siri</string>
	<key>UIAppFonts</key>
	<array>
		<string>站酷_ZaKu.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-2688h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-1792h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>App需要您的同意,才能访问Music</string>
</dict>
</plist>
